{% block content %}
    <h2>Your cleaning listing.</h2>
    <a style="float: right;" href="{% url 'logout' %}">Logout</a>
    <br/>
    Customer: {{customer.first_name}} {{customer.last_name}}
    <br/>
    <a href="{% url 'create_cleaning_application' %}">Create new cleaning request</a>
    <p>
        {% if booking%}
            <table style="border-collapse: collapse; width: 100%;">
                <tr style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                    <th>Date</th>
                    <th>Cleaner</th>
                </tr>
                {%for book in booking%}
                    <tr style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <td>{{book.date}}</td>
                        <td>{{book.cleaner}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if not booking %}
            No cleaning records found.
        {% endif %}
        {%if 'error' in errors%}
          <div class='alert alert-warning'>{{errors.error}}</div>
        {% endif %}
        {%if 'success' in errors%}
          <div class='alert alert-warning'>{{errors.success}}</div>
        {% endif %}
    </p>
{% endblock %}